.App {
  text-align: center;
  margin: 40px;
}

.results{
  text-align: left;
  border: 1px lightgrey solid;
  padding: 10px;
  border-radius: 7px;
}

input{
  border-radius: 7px;
  margin: 10px;
  padding: 7px;
}

input[type = 'submit']{
  background-color: grey;
  color: white
}

img{
  width: 100px;
}

.formH4{
  text-align: left;
}